body {
    box-sizing: border-box;
}

/* Contact Us Form/Page */
.right-column {
    width: 122px;
    padding-right: 10px;
}

.right-column, .center-column, .left-column {
    margin-top: 30px;
    float: right;
}

.right-column > ul > li {
    list-style: none;
}

.right-column > ul > li > a {
    text-decoration: none;
    font-size: 13px;
    color: #72716d;
}

.right-column > ul > li > a > img {
    margin-top: 5px;
    vertical-align: text-bottom;
}

a:hover, ul > li > a > span:hover {
    color: #005CA0 !important;
    text-decoration: underline;
}

.center-column {
    width: 440px;
}

.box, .main-form {
    border: 1px solid #dfdfdf;
    background: #ececec;
    border-top-right-radius: 25px;
}

.main-form {
    width: 346px;
    height: 331px;
    padding: 12px 18px;
    margin: 0 10px 20px;
}

.main-form > p {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.2;
    margin: 5px 0;
}

.main-form > span {
    color: #72716d;
    font-size: 12px;
}

form {
    width: 245px;
    height: 220px;
    margin: 10px auto;
    display: block;
}

.box {
    width: 246px;
    height: 140px;
    padding: 18px 22px 15px;
    margin: 0 10px 20px;
}

h3 {
    font-size: 15px;
    font-weight: bold;
    color: #005ca0;
}

.header {
    width: 248px;
    border-bottom: 1px solid #dfdfdf;
}

.box::after {
    content: "";
    clear: both;
    display: table;
}