body {
    box-sizing: border-box;
}

/* Contact Us Form/Page */
.right-column {
    width: 122px;
    padding-right: 10px;
}

.right-column, .main {
    margin-top: 30px;
}

.right-column > ul > li {
    list-style: none;
}

.right-column > ul > li > a {
    text-decoration: none;
    font-size: 13px;
    color: #72716d;
}

.right-column > ul > li > a > img {
    margin-top: 5px;
    vertical-align: text-bottom;
}

a:hover, ul > li > a > span:hover {
    color: #005CA0 !important;
    text-decoration: underline;
}

.main {
    width: 776px;
}

.main-center {
    width: 440px;
}



.box {
    width: 248px;
    height: 142px;
    border: 1px solid #dfdfdf;
    background: #ececec;
    padding: 18px 22px 15px;
    border-top-right-radius: 25px;
    margin: 0 10px 20px;
}

.box > div > h3 {
    font-size: 15px;
    font-weight: bold;
    color: #005ca0;
}

.header3 {
    width: 248px;
    border-bottom: 1px solid #dfdfdf;
}