* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial;
}

header, footer {
    width: 100%;
    background-color: gray;
}

main, header > nav, footer > nav {
    width: 900px;
}

main {
    margin: 0 auto;
}

.container {
    float: right;
    position: relative;
    box-sizing: border-box;
    display: block;
    margin-top: 30px;
    background-image: url("IMAGES/1908364606615453350.JPG");
    width: 292px;
    height: 354px;
    border-bottom-right-radius: 30px;
}

.container:nth-child(2) {
    margin-right: 10px;
    margin-left: 10px;
}

.subtext {
    position: absolute;
    left: 38px;
    bottom: 6px;
    width: 228px;
    background-color: rgba(175, 175, 175, 0.8);
    color: white;
    padding: 5px;
     margin-bottom: 10px;
    font-size: 13px;
    border-bottom-right-radius: 15px;
}

.subtext > a > span {
    margin-right: 173px;
}

footer {
    height: 38px;
    position: fixed;
    bottom: 0;
}

footer > nav {
    margin: 10px auto 10px;
}

nav > ul > li {
    list-style: none;
    display: inline;
    text-decoration: none;
    border-left: 1px white solid;
}

nav > ul > li > a > img {
    display: inline-block;
}

nav > ul > li > a, nav > ul > span {
    color: white;
    font-size: 14px;
    padding: 5px;
    text-align: center;
}

nav > ul > span > a {
    color: red;
}

a:hover {
    text-decoration: underline;
    color: #005CA0;
}