* {
    margin: 0;
}

body {
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial;
}

main {

}

nav > ul > li {
    list-style: none;
}

.div-footer {
    width: 100%;
    height: 38px;
    position: fixed;
    bottom: 0;
    background-color: gray;
}

.div-footer > nav > ul > li {
    width: 900px;
    margin: 15px auto;
}