* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial;
}

header, footer {
    width: 100%;
    background-color: gray;
}

header {
    height: 105px;
}

header > div, main, footer > nav {
    width: 900px;
}

header > div, main, .bottom-container > img, .bottom-container > div {
    margin: 0 auto;
}

.search-box {
    position: relative;
    direction: ltr;
    padding-top: 15px;
}

.search-box > a {
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding-left: 15px;
    margin: 0;
}

.search-box > input {
    width: 126px;
    border: 0 none;
    border-top-right-radius: 6px;
    margin-left: 21px;
    text-align: right;
}

.search-box > a > img {
    position: absolute;
}

/* Header style */
header > nav {
    display: inline-block;
}



.dropdown-conten {
    /* position: absolute; */
    z-index: 3;
}

.container {
    float: right;
    position: relative;
    box-sizing: border-box;
    display: block;
    margin-top: 30px;
    background-image: url("IMAGES/1908364606615453350.JPG");
    width: 292px;
    height: 354px;
    border-bottom-right-radius: 30px;
}

.container:nth-child(2) {
    margin-right: 10px;
    margin-left: 10px;
    background-image: url("IMAGES/Picture-046410251500.jpg");
}

.container:nth-child(3) {
    background-image: url("IMAGES/291_354410564000.jpg");
}

.subtext {
    position: absolute;
    left: 38px;
    bottom: 6px;
    width: 228px;
    background-color: rgba(36, 36, 36, 0.8);
    color: white;
    padding: 5px;
     margin-bottom: 10px;
    font-size: 13px;
    border-bottom-right-radius: 15px;
}

.subtext > a > span {
    margin-right: 173px;
}

.bottom-container {
    float: right;
    margin-top: 15px;
    width: 291px;
    height: 216px;
    background-color: #eeeeee;
    border-top-right-radius: 20px;
    border: 1px solid rgba(58, 58, 58, 0.644);
    margin-bottom: 60px;
}

.bottom-container > div {
    width: 250px;
    height: 34px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(58, 58, 58, 0.644);
}

.bottom-container > div > h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    color: rgba(58, 58, 58, 0.644);
}

.bottom-container > img {
    display: block;
    padding-bottom: 10px;
}

.bottom-container > span > a {
    font-size: 13px;
    color: #72716d;
    margin-right: 188px;
}

.bottom-container::after {
    content: "";
    display: table;
    clear: both;
} 

footer {
    height: 38px;
    position: fixed;
    bottom: 0;
}

footer > nav {
    margin: 10px auto 10px;
}

nav > ul > li {
    list-style: none;
    display: inline;
    text-decoration: none;
    border-left: 1px white solid;
}

nav > ul > li > a > img {
    display: inline-block;
}

nav > ul > li > a, nav > ul > span {
    color: white;
    font-size: 14px;
    padding: 5px;
    text-align: center;
}

nav > ul > span > a {
    color: red;
}

a:hover {
    text-decoration: underline;
    color: #005CA0;
}